.title{
    font-size: 3rem;
    font-weight: 800;
}

.mainbody{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: start;
    gap: 3rem;
}

.savedavatarstext{
    font-size: 1.5rem;
    font-weight: 800;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    align-items: center;
    text-align: center;
}

.pfpparent{
    height: 30rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.pfp{
    height: 20rem;
    width: 20rem;
    border-radius: 400rem;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40vw;
    
}

.line{
    width: 2px;
    height: 50vh;
    background-color: #ffffff30;
}

.locked{
    height: 20rem;
}

/* .basicdetails{
    font-size: 1.5rem;
    line-height: -10rem;
} */