.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle{
    margin-left: 0.75rem;
    font-size: 1.5rem;
}

.loading{
    height: 70vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.loader {
    width: 60px;
    height: 60px;
    /* background-color: blue; */
    /* border-radius: 50%; */
    animation: rotate 2s infinite linear;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .ProgressBar {
    position: relative;
    width: 600px;
    height: 3em;
    background-color: black;
    border-radius: 1.5em;
    color: white;
}

.ProgressBarContainer {
  position: relative;
  width: 600px;

}
/*progress styling*/
.ProgressBarInner{
    display: flex;
    align-items: center;
    position: absolute;
    left: .5em;
    top: .5em;
    bottom: .5em;
    background-color: green;
    border-radius: 1em;
    padding: 1em 2px;
    height: 0.5rem;
}