.title{
    font-size: 3rem;
    font-weight: 800;
}

.subtitle{
    font-size: 2rem;
    margin-top: -2rem;
}

.noprojectscontainer{
    width: 100%;
    height: 60vh;
    background-color: #2B2C2D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noprojectstext{
    font-size: 1.5rem;
}

.step{
    font-weight: 700;
    font-size: 1.7rem;
    color: #FFBA09;
}

.subheading{
    font-size: 1.2rem;
    font-weight: 600;
}


.navbuttons{
    display: flex;
    gap: 2rem;
}

.selected{
    margin-top: 3rem;
    width: 20rem;
    height: 4rem;
    border-radius: 0.5rem;
    /* background-color: pink; */
    background-color: #2B2C2D;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #FFBA09;
    color: black;
    cursor: pointer;
    border: 2px solid #FFBA09;
}


.unselected{
    margin-top: 3rem;
    width: 20rem;
    height: 4rem;
    border-radius: 0.5rem;
    /* background-color: pink; */
    border: 2px solid #FFBA09;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: transparent;
    color: #FFBA09;
    cursor: pointer;
}


.danceoptions{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5rem;
}