.title{
    font-size: 3rem;
    font-weight: 800;
}

.subtitle{
    font-size: 2rem;
    margin-top: -2rem;
}

.noprojectscontainer{
    width: 100%;
    height: 60vh;
    background-color: #2B2C2D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.noprojectstext{
    font-size: 1.5rem;
}

.gridcontainer{
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 10px; */
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}