.hero-section {
    height: calc(100vh - 8rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

.hero-section h1 {
    font-size: 9.25rem;
    color: var(--background-color);
    -webkit-text-stroke: 2px var(--font-color);
    margin-block: 0.1rem;
}

.hero-section h1 span {
    color: var(--font-color);
}

.hero-section p {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
}

.hero-section2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.hero-section3{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
/* 
.hero-section2 p {
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
} */

/* .hero-section button {
    width: 80%;
    padding: 0.5rem 3.5rem;
    background-color: transparent;
    border-color: var(--accent-color);
    border-width: 0.25rem;
    color: var(--accent-color);
    border-radius: 0.25rem;
    font-size: 1.25rem;
} */

#instructions{
    font-size: 1rem;
    letter-spacing: normal;
    opacity: 0.6;
    margin-bottom: -1rem;
    cursor: pointer;
}
.blob {
    width: 200px;
    height: 200px;
    background-color: #ff6347;
    border-radius: 30% 70% 70% 30%;
    animation: morph 8s infinite;
}

@keyframes morph {
    0% {
        border-radius: 30% 70% 70% 30%;
        transform: translate(0, 0);
    }
    25% {
        border-radius: 60% 40% 40% 60%;
        transform: translate(30px, -20px);
    }
    50% {
        border-radius: 70% 30% 30% 70%;
        transform: translate(-20px, 30px);
    }
    75% {
        border-radius: 40% 60% 60% 40%;
        transform: translate(20px, 20px);
    }
    100% {
        border-radius: 30% 70% 70% 30%;
        transform: translate(0, 0);
    }
}


.svgblob{
    height: 40rem;
    width: 40rem;
}


.subtitlehero2{
    font-size: 2rem;
    margin-top: -0.2rem;
    margin-bottom: -0.2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.subtitledivhero2{
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
}


.doneimg{
    width: 6rem;
    margin-top: -0.3rem;
    margin-bottom: -0.3rem;
}


.donebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.svganimation{
    height: 60vh;
    width: 70vw;
    /* background-color: gray; */
}

.herosection2title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.android-app-section{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.googleplayimg{
    width: 20rem;
    height: 6rem;
    cursor: pointer;
    /* height: 3rem; */
}

.downloadapp{
    font-size: 2rem;
    font-weight: 800;
}

.android-app-top{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
}

.android-app-bottom{
    display: flex;
    gap: 1rem;
    align-items: baseline;
    justify-content: center;
}

.geminiimg{
    height: 2rem;
}

.features{
    height: 80vh;
    width: 64vw;
    background-image: url("../../assets/featuresback.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureslist {
    width: 60vw;
    height: 70vh;
    background-color: var(--background-color);
    display: flex;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
    flex-direction: column;
    border-radius: 1rem;
    align-items: center;
    justify-content: space-around;
    transition: box-shadow 1.3s ease-in-out; /* Add transition for smooth shadow change */
    
  }
  
  .featureslist:hover {
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2); /* Increase shadow size and opacity on hover */
  }


.left, .right {
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
  }
  
  .left {
    animation-name: slide-left; 
    animation-duration: 1s; 
    animation-fill-mode: forwards; 
  }
  
  .right {
    animation-name: slide-right; 
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes slide-left {
    from { transform: translateX(-40%); opacity: 0; } 
    to { transform: translateX(0); opacity: 1; } 
  }
  
  @keyframes slide-right {
    from { transform: translateX(40%); opacity: 0;} 
    to { transform: translateX(0); opacity: 1;} 
  }




  
  .singlefeature{
    height: 15rem;
    width: 15rem;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .featureblob {
    height: 0;
    width: 0;
    position: absolute;
    z-index: 0;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-overflow: auto; */
    overflow: visible;
    border-radius: 10rem;
    transition: height 1s ease, width 1s ease;
  }
  
  .featureblob.hovered {
    height: 15rem;
    width: 15rem;
    background-color: #3F3D3D;

  }

  .featureimg{
    z-index: 1;
    max-height: 5rem;
    min-height: 5rem;
    max-width: 8rem;
    
  }

  .featuretext{
    font-size: 0.9rem;
    z-index: 1;
  }

  .row1{
    /* background-color: pink; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .row2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }